//FONT COLOR
$primary-color: #1c1c1c;
$secondary-color: #2e2e2e;
$third-color: #717171;
$forth-color: #9f9f9f;
$fifth-color: #a1a1a1;
$white-color: #fff;
$green-title: #47c830;
$green-button: #47c830;
$font-red: #ff6666;
$price-color: #ff7400;
$red-hover: #f03e3e;
$menu-hover-color: #f03e3e;
$footer-font-color: #5b5b5b;
